body{
    background: #303030;
}


.MuiListItemIcon-root{
    min-width: 30px !important;
}
*::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 9em;
}
*::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(0,0,0,0.60) inset !important;
}
*::selection{
    background: #ff5722;
    color: white;
}
.emoji-mart{
    border:0 !important;
}
.emoji-mart-dark,.emoji-mart-dark .emoji-mart-category-label span,.emoji-mart-dark .emoji-mart-search input{
    background-color: #424242 !important;
    color:rgba(255, 255, 255, 0.7) !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight:400;
    font-size:15px;
}
.emoji-mart .emoji-mart-emoji:focus{
    outline:none;
}
.emoji-mart .emoji-mart-emoji span,.emoji-mart .emoji-mart-emoji{
    cursor: pointer !important;
}
.emoji-mart-dark .emoji-mart-category .emoji-mart-emoji:hover:before{
    background-color:transparent !important;

}
.emoji-mart .emoji-mart-emoji{
    transition: .2s;
}
.emoji-mart .emoji-mart-emoji:hover{
    text-shadow: 0 0 7px #222;
}
.emoji-mart-anchor{
    cursor:pointer !important;
}
.emoji-mart-category .emoji-mart-emoji:hover:before{
    background-color: transparent !important;
}
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
}
.MuiPopover-paper {
    backdrop-filter: blur(7px);
    background: #4445;
}

#filled-textarea b{
    padding:5px;
    border-radius:5px;
    text-transform: uppercase;
    margin: 0px 10px;
    cursor: default;
    transition:.3s;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
#filled-textarea b:hover{
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
#filled-textarea .red{
    background: #e53935;
    color:rgba(0, 0, 0, 0.87);
}
#filled-textarea .red:hover{
    background: #c62828;
}

#filled-textarea .blue{
    background: #1e88e5;
    color:rgba(0, 0, 0, 0.87);
}
#filled-textarea .blue:hover{
    background: #1565c0;
}

#filled-textarea .lime{
    background: #c0ca33;
    color:rgba(0, 0, 0, 0.87);
}

#filled-textarea .lime:hover{
    background: #9e9d24;
}

#filled-textarea .orange{
    background: #fb8c00;
    color:rgba(0, 0, 0, 0.87);
}

#filled-textarea .orange:hover{
    background: #ef6c00;
}

#filled-textarea .pink{
    background: #d81b60;
    color:rgba(0, 0, 0, 0.87);
}

#filled-textarea .pink:hover{
    background: #ad1457;
}

#filled-textarea .purple{
    background: #8e24aa;
    color:rgba(0, 0, 0, 0.87);
}

#filled-textarea .purple:hover{
    background: #6a1b9a;
}

#filled-textarea .cyan{
    background: #00acc1;
    color:rgba(0, 0, 0, 0.87);
}

#filled-textarea .cyan:hover{
    background: #00838f;
}

#filled-textarea .green{
    background: #43a047;
    color:rgba(0, 0, 0, 0.87);
}

#filled-textarea .green:hover{
    background: #2e7d32;
}

#filled-textarea .yellow{
    background: #fdd835;
    color:rgba(0, 0, 0, 0.87);
}

#filled-textarea .yellow:hover{
    background: #f9a825;
}
.characterClassInput input{
    min-height:51px
}