body{
    background: #303030;
}


.MuiListItemIcon-root{
    min-width: 30px !important;
}
*::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 9em;
}
*::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(0,0,0,0.60) inset !important;
}
*::selection{
    background: #ff5722;
    color: white;
}
.emoji-mart{
    border:0 !important;
}
.emoji-mart-dark,.emoji-mart-dark .emoji-mart-category-label span,.emoji-mart-dark .emoji-mart-search input{
    background-color: #424242 !important;
    color:rgba(255, 255, 255, 0.7) !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight:400;
    font-size:15px;
}
.emoji-mart .emoji-mart-emoji:focus{
    outline:none;
}
.emoji-mart .emoji-mart-emoji span,.emoji-mart .emoji-mart-emoji{
    cursor: pointer !important;
}
.emoji-mart-dark .emoji-mart-category .emoji-mart-emoji:hover:before{
    background-color:transparent !important;

}
.emoji-mart .emoji-mart-emoji{
    transition: .2s;
}
.emoji-mart .emoji-mart-emoji:hover{
    text-shadow: 0 0 7px #222;
}
.emoji-mart-anchor{
    cursor:pointer !important;
}
.emoji-mart-category .emoji-mart-emoji:hover:before{
    background-color: transparent !important;
}
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
}
.MuiPopover-paper {
    backdrop-filter: blur(7px);
    background: #4445;
}
